[Pinyin Enhance]
# 將簡拼視為英文
# 可選值：
# True False
#ShortAsEnglish=False
# 允許替換第一個候選字
# 可選值：
# True False
#AllowReplaceFirst=True
# 不顯示拼寫提示
# 可選值：
# True False
#DisableSpell=False
# 拼寫提示候選字的最大數
#MaximumHintLength=1
# 以詞定字
#InputCharFromPhraseString=[]
# 切換至以詞定字模式
#InputCharFromPhraseKey=
# 禁用拼音特殊符號
# 可選值：
# True False
#DisableSym=False
# 筆劃輸入觸發長度
#StrokeThresh=2
# 筆劃輸入結果的最大數。
#StrokeLimit=3

