[Sunpinyin]
# 使用雙拼而不使用全拼
# 可選值：
# True False
#UseShuangpin=False
# Sunpinyin 的雙拼機制
# 可選值：
# MS2003
# ABC
# ZIRANMA
# PINYINJIAJIA
# ZIGUANG
# XIAOHE
#ShuangpinScheme=MS2003
# 模糊切分
# 可選值：
# True False
#FuzzySegmentation=True
# 支援內模糊音節 (xian->xi'an)
# 可選值：
# True False
#FuzzyInnerSegmentation=False
# Sunpinyin 猜測的句子數
# 可選值：
# 1
# 2
# 3
#MaxBest=1
# 最佳尾候選數
# 可選值：
# 0
# 1
# 2
#MaxTail=0
# 記憶強度
#MemoryStrength=3
# 讓 Sunpinyin 處理標點
# 可選值：
# True False
#ProcessPunc=False

[QuanPin]
# 模糊 zhi/zi
# 可選值：
# True False
#FuzzyZhiZi=False
# 模糊 chi/ci
# 可選值：
# True False
#FuzzyChiCi=False
# 模糊 shi/si
# 可選值：
# True False
#FuzzyShiSi=False
# 模糊 an/ang
# 可選值：
# True False
#FuzzyAnAng=False
# 模糊 on/ong
# 可選值：
# True False
#FuzzyOnOng=False
# 模糊 en/eng
# 可選值：
# True False
#FuzzyEnEng=False
# 模糊 in/ing
# 可選值：
# True False
#FuzzyInIng=False
# 模糊 eng/ong
# 可選值：
# True False
#FuzzyEngOng=False
# 模糊 ian/iang
# 可選值：
# True False
#FuzzyIanIang=False
# 模糊 uan/uang
# 可選值：
# True False
#FuzzyUanUang=False
# 模糊 n/l
# 可選值：
# True False
#FuzzyNeLe=False
# 模糊 f/h
# 可選值：
# True False
#FuzzyFoHe=False
# 模糊 l/r
# 可選值：
# True False
#FuzzyLeRi=False
# 模糊 k/g
# 可選值：
# True False
#FuzzyKeGe=False
# 自動校正 gn/ng
# 可選值：
# True False
#AutoCorrectinggnng=True
# 自動校正 uen/un
# 可選值：
# True False
#AutoCorrectingUenUn=False
# 自動校正 img/ing
# 可選值：
# True False
#AutoCorrectingImgIng=False
# 自動校正 img/ing
# 可選值：
# True False
#AutoCorrectingIouIu=False
# 自動校正 uei/ui
# 可選值：
# True False
#AutoCorrectingUeiUi=False

