[Keyboard]
# 選擇候選詞時加入額外空格
# 可選值：
# True False
#CommitWithExtraSpace=False
# 選詞修飾鍵
# 可選值：
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# 切換單字提示
#HotkeyToggleWordHint=CTRL_ALT_H
# 最小觸發單字提示長度
#MinimumHintLength=1
# 拼寫提示候選字最大個數
#MaximumHintLength=5
# 使用 enter 鍵確認輸入字串
# 可選值：
# True False
#UseEnterToCommit=False
# 加入目前輸入內容至使用者詞典
#HotkeyAddToUserDict=CTRL_ALT_N

