[Clipboard]
# 儲存剪貼簿歷史為檔案
# 可選值：
# True False
#SaveHistoryToFile=True
# 剪切簿歷史長度
#HistoryLength=5
# 每個候選字最大長度
#CandidateMaxLength=43
# 剪貼簿歷史快捷鍵
#TriggerKey=CTRL_;
# 使用選取區文字
# 可選值：
# True False
#UsePrimary=True
# 選詞修飾鍵
# 可選值：
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 忽略空白的剪貼簿內容
# 可選值：
# True False
#IgnoreBlank=True

