[IMSelector]
# 局部輸入法選擇鍵
#LocalInputMethodSelectKey=
# 全域輸入法選擇鍵
#GlobalInputMethodSelectKey=
# 清空局部輸入法
#ClearLocal=

[GlobalSelector]
# 切換至第1個輸入法
#IM1=
# 切換至第2個輸入法
#IM2=
# 切換至第3個輸入法
#IM3=
# 切換至第4個輸入法
#IM4=
# 切換至第5個輸入法
#IM5=
# 切換至第6個輸入法
#IM6=
# 切換至第7個輸入法
#IM7=
# 切換至第8個輸入法
#IM8=
# 切換至第9個輸入法
#IM9=

[LocalSelector]
# 切換至第1個輸入法
#IM1=
# 切換至第2個輸入法
#IM2=
# 切換至第3個輸入法
#IM3=
# 切換至第4個輸入法
#IM4=
# 切換至第5個輸入法
#IM5=
# 切換至第6個輸入法
#IM6=
# 切換至第7個輸入法
#IM7=
# 切換至第8個輸入法
#IM8=
# 切換至第9個輸入法
#IM9=

