[Desktop Entry]
Type=Application
Name=LXInput 自動啟動
Comment=以在 LXInput 完成的設定設置鍵盤與滑鼠
NoDisplay=true
Exec=sh -c 'xset m 20/10 10 r rate 500 30 b on;xmodmap -e "pointer = 3 2 1"; xinput --set-prop "pointer:Logitech USB Receiver" "libinput Accel Speed" 0.000000'
NotShowIn=GNOME;KDE;XFCE;
